<ul class="nav in" accordion >
  <sidebar-search></sidebar-search>
    
  <li>
    <a [routerLink]="['/home']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/process']"><i class="fa fa-code-fork fa-fw"></i> chatFlows <span></span></a>
  </li>
  <li>
    <a [routerLink]="['/users']"><i class="fa fa-commenting fa-fw"></i > Conversations</a>
  </li>
  <li>
    <a [routerLink]="['/documentation']"><i class="fa fa-paper-plane fa-fw"></i> Documentation</a>
  </li>
  <li>
    <a [routerLink]="['/form']"><i class="fa fa-users fa-fw"></i> Users</a>
  </li>
  <li><a href="http://www.servo.ai/">Servo.ai</a></li>
</ul>
