<wrapper>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Conversations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add New Conversation
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <input autocomplete="on" [(ngModel)]="firstName" placeholder="First Name"/>
                    <input autocomplete="on" [(ngModel)]="lastName" placeholder="Last Name"/>
                    <input autocomplete="on" [(ngModel)]="phoneNumber" placeholder="Phone Number"/>

                    <button type="button" class="btn btn-info "
                                                        [ngClass]="{'disabled': !firstName||!lastName||!phoneNumber}"
                                                        (click)="onstartclick()">
                        Start
                    </button>

                    <span >
                        chatFlow:
                        <select [ngModel]="selectedFsmId" (change)="onFsmIdSelected($event)">
                            <option   *ngFor="#fsmId of fsmIds" value="{{fsmId}}"> {{fsmId}} </option>
                        </select>
                    </span>


                </div>
                <hr>
                <div class="panel-body">
                    <select (change)="onFbIdSelected($event)">
                    <option   *ngFor="#fbId1 of fbIds" value="{{fbId1.value}}"> {{fbId1.name}} </option>
                    </select>
                    <span >Facebook ID: {{selectedFbId}}</span>

                    <button type="button" class="btn btn-primary "
                    [ngClass]="{'disabled': !selectedFbId || selectedFsmId=='1' || selectedFsmId=='2' || selectedFsmId=='3'}     "
                    (click)="onFbStartClick()">
                    Start
                    </button>

                    <span >
                        chatFlow:
                        <select [ngModel]="selectedFsmId" (change)="onFsmIdSelected($event)">
                            <option   *ngFor="#fsmId of fsmIds" value="{{fsmId}}"> {{fsmId}} </option>
                        </select>
                    </span>


                </div>
                <h4>{{fsmMessage}}</h4>
            </div>
        </div>
    </div>

    <div>
        <!--<button1 (click)="testUpdateProcess()"> Test updateProcess</button1>-->
    </div>
       <div class="panel panel-default">


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Current Conversations
                        </div>
                        <process-grid></process-grid>
                        <!-- /.col-lg-12 -->
                    </div>
                    </div>
                </div>
        </div>
</wrapper>
