<wrapper (click)="onChatBoxClick()">
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-danger btn-xs pull-left" (click)="close()">
                        <i class="fa fa-remove fa-fw"></i>
                    </button>
                    <button class="btn btn-default btn-xs pull-right" [ngClass]="{'disabled': (messages.length === 0)}" (click)="expand()">
                        <i class="fa fa-fw" [ngClass]="{'fa-plus': !isExpanded, 'fa-minus': isExpanded}"></i>
                    </button>
                </div>
            </div>
            <div class="chat-info-container" *ngIf="isExpanded">
                <div class="row boxed" style="padding: 10px 0;">
                    <div class="col-xs-4">
                        <ul class="chat-info">
                            <li><label>FSM:</label> {{processInfo.fsmName}}</li>
                            <li><label>State:</label> {{processInfo.state}}</li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="chat-info">
                            <li><label>Customer:</label> {{processInfo.user.getFullName()}}</li>
                        </ul>
                    </div>

                    <div class="col-xs-4">
                        <ul class="chat-info">
                            <li><label>Idle:</label> {{processInfo.idle}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-xs-12">
                    <button class="btn btn-normal pull-left" [disabled]="!isBot" (click)="takeControl()">Take Control</button>
                    <button class="btn btn-normal pull-right" [disabled]="isBot" (click)="handOff()">Hand Off</button>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body messages_container" [ngClass]="{'loading': (messages.length === 0)}">
            <div class="row">
                <div class="pull-right" [ngClass]="{'col-xs-6': isExpanded, 'col-xs-12': !isExpanded}">
                     <ul class="chat">
                        <li *ngFor="#message of messages" class="clearfix" [ngClass]="{'left': !message.isCustomer, 'right': message.isCustomer}">
                            <span class="chat-img" [ngClass]="{'pull-left': !message.isCustomer, 'pull-right': message.isCustomer}">
                              <img class="img-circle" alt="{{message.fromUser.getFullName()}}" src="assets/img/{{message.fromUserType}}.png">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.fromUser.getFullName()}}</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{message.dateTime | date:"MMMdHHmmss"}}
                                    </small>
                                </div>
                                <p>{{message.text}}</p>
                                <p STYLE="margin-left: -60PX;" *ngIf="message.imageUrl"><img width="268px" height="136px" src="{{message.imageUrl}}"/></p>
                            
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 boxed state-box" *ngIf="isExpanded" style='position: fixed; width: 350px;'>
                    <div class="processJSON"></div>
                    <div class="form-group">
                        <label>State</label>
                        <select (change)="stateSelected=$event.target.value" class="form-control">
                            <option value="">-- Select State --</option>
                            <option *ngFor="#state of processInfo.states" [value]="state">{{state}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea [(ngModel)]="stateBodyText" cols="3" rows="2" class="form-control" placeholder="Body Text"></textarea>
                    </div>
                    <div class="form-group">
                        <button (click)="submitStateInfo()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer" *ngIf="!isBot">
            <div class="input-group">
                <input [(ngModel)]="messageText" type="text" placeholder="Type your message here..." class="form-control input-sm message-box">
                <span class="input-group-btn">
                    <button [disabled]="isSendingMessage" class="btn btn-warning btn-sm" (click)="sendMessage()">
                        Send
                    </button>
                </span>
            </div>
        </div>
        <!-- /.panel-footer -->
    </div>
</wrapper>
