chat-box{
    position: fixed;
    bottom: 0;
    width: 300px;
    z-index: 1000;
}

chat-box .boxed{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 3px;
}

chat-box .chat-table{
    border-spacing: 10px;
    border-collapse: separate;
}

chat-box .chat-info-container{
    padding: 10px 0; 
}

chat-box .chat-info-container .chat-info{
    list-style: none;
    margin: 0;
    padding: 0;
}

chat-box .chat-info-container .chat-info label{
    font-weight: bold;
}

chat-box .processJSON{
    max-width: 100%;
}

chat-box .processJSON pre{
    height: 100px;
}

chat-box .loading{
    background-image: url('assets/img/loader.gif');
    background-repeat: no-repeat;
    background-size: contain;
}