<div class="panel-body" #chatboxes>
            <ag-grid-ng2 #agGrid style="width: 100%; height: 600px;" class="ag-fresh"

                     [gridOptions]="gridOptions"
                     [columnDefs]="gridColumnDefs"
                     [rowModelType]="rowModelType"
                     
                     enableFilter="true"
                     enableColResize
                     enableSorting
                     groupHeaders
                     debug
                     rowHeight="27"
                     rowSelection="multiple"
                     (modelUpdated)="onModelUpdated()"
                     (rowClicked)="onRowClicked($event)">
        </ag-grid-ng2>
    <div class="dataTable_wrapper"> 
        <!--
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th *ngFor="#columnHeader of columnDefs">{{columnHeader.headerName}}</th>  
                </tr>
            </thead>      
            <tbody>
                <tr *ngFor="#process of currentProcesses" class="{{process.rowClass}}" (click)="onRowClick(process)">
                      
                    <td *ngFor="#tdFieldValue of process.orderedFields" >{{tdFieldValue}}</td>
                      
                </tr>
            </tbody>
        </table>
        -->
    </div>
</div>