<div (processselected)="processIdSelected($event)">

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">

                <label>Select {{dbname}}</label>
                <select class='form-control dbEntities' (change)="onDbEntityIdSelected($event)">
                    <option *ngFor="#dbEntityId of dbEntityIds" value="{{dbEntityId}}"> {{dbEntityId}} </option>
                </select>
            </div>
        </div>
        <div class='col-xs-6'>&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button type="button" [disabled]="editMode || addNewMode" (click)="setEditMode(true)" class="fa fa-pencil-square-o col-xs-2 btn btn-primary btn-block " > Edit</button>
        </div>
        <div class="col-xs-3">
            <button type="button" (click)="saveEditorContent()" [disabled]="!editMode && !addNewMode" class="fa fa-floppy-o col-xs-2 btn btn-success btn-block" > Save Changes</button>
        </div>
        <div class="col-xs-3">
            <button type="button" [disabled]="!editMode && !addNewMode" (click)="cancelEdit()" class="fa-mail-reply fa col-xs-2 btn btn-warning btn-block" > Cancel</button>
        </div>
        <div class="col-xs-3">
            <button type="button" [disabled]="editMode || addNewMode" (click)="deleteEntity()" class="fa-times fa col-xs-2 btn btn-error btn-block" > Delete</button>
        </div>

    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            id: {{selectedDbEntityId}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <span style="font-size:small;font-family: Arial;color:blue;"> {{message}}</span>

                    <div class="form-group" *ngIf="addNewMode">
                        <label>Unique ID</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedDbEntityId" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input *ngIf="addNewMode||editMode" type="text" class="form-control" [(ngModel)]="selectedDbEntityName" />
                        <p *ngIf="!editMode && !addNewMode">{{selectedDbEntityName}}</p>
                    </div>
                    <div class="form-group">
                        <label>Function ({{editMode?'edit':'read'}})</label>
                        <markdown-editor [saveEditor]="saveEditor" [initialText]="selectedDbEntityFunction" [editable]="false" [mainEditMode]="editMode" (saveeditor)="saveEditor($event)" (save)="saveHandler($event)"></markdown-editor>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
