<wrapper>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>chatFlows Development</h1>
            <p>Developing bots on chatFlows is easy. It allows technical developers and non-technical managers alike to create and maintain chat bots and their flows.
                Please see the following sections for more details</p>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                General
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Flows</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The chatFlows works by using a Finite State Machine (FSM). This machine creates a flow, which we call a chat flow.
                                There are several things to remember:
                                <ul>
                                    <li>The can build as manu flows as she wants. An FSM is a JSON document
                                        and has several required fields

                                    </li>
                                    <li>An FSM has an array of States</li>
                                    <li> Each state defines a message (<strong>prompt</strong>)
                                        and a list of <strong>intents</strong>.  </li>
                                    <li> Each intent is a name of the next state the FSM can move to</li>
                                        <li>At each point in the flow, the FSM has one currentState </li>
                                    <li>An FSM may have <strong>processors </strong>. These processors are a JSON object, which defines a function
                                        The function code has access to several entities:
                                        <ul>
                                            <li>fsm: the FSM object</li>
                                            <li>process: a current process object, which has the instance specific data
                                            of the current flow running</li>
                                            <li>body: the text in the last incoming text message</li>
                                        </ul>
                                        The system runs the processors at certain points as described below.
                                    </li>
                                    <li>Once the flow starts, the FSM runs the fsmEntryProcessor. This processor can declare various
                                        member functions, that might be run at later states. It also can initialize variables and do more
                                        method-initialization tasks.
                                       </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Prompts-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Prompts</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
				                Prompts include the <strong>promptText</strong>, the <strong>htmle</strong> and the
                                <strong>promptList</strong> members of the state in the FSM. chatFlows uses a template engine to process
                                the prompts.
                                The template engine adhers in its rules to the _ <a href="http://underscorejs.org/" target="_blank">UndersrcoreJS</a>.
                                <br><br>
                                It is important to note that the process is the object upon which the template runs. That is, if there's a
                                <strong>&lt;%= process.firstName %&gt; </strong> then it would be the process.firstName member which will be evaluated.
                                There's also a way to execute function and logic: use <strong>&lt;%</strong> with the = sign.
                                This will run the code with the process object again ready for use. If you need to output something to the prompt,
                                just use the <strong>print</strong> built-in function.
                                 </div>
                        </div>
                    </div>
                    <!--States-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    States</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                When a state is first entered, the following happens, in order:
                                <ol>
                                    <li>The FSM entry processor is run</li>
                                    <li>The state's entry processor is run</li>
                                    <li>Then, the prompt, promptHtml and
                                        promptList is calculated and sent to the user</li>
                                    <li>Upon a user reply, the reply body is fed into the intent
                                        processor, whose role is calculate the intent of the body,
                                        based on the body </li>
                                    <li>The state machine then moves to the state that is pointed to
                                        under that intent, in the <strong>intents</strong> list in the  current state.</li>
                                </ol>
                                    <br><br> Please note that:
                                    <ul>
                                        <li>Every processor has access to <strong>process, body, and fsm</strong> variables as explained above</li>
                                        <li>Every processor should  call resolve() as a return command. This alows asynchronous responses. If the processor is to return a value
                                            (as is the case in intent processors, which should return the intent name) then it should resolve(value)</li>
                                        <li>The processor code can call console.log for debugging. The resyults of which will be shown under chatFlows page, logs tab</li>
                                        <li>Before moving to the next state, a <strong>lastIntent</strong> member is set on the process object, with the most recent intent calculated.</li>
                                        <li>If no intent processor is defined, the state will move to the first state in the state.intents object</li>

                                     </ul>

                                    <br><br>Other State options:
                                <ul>
                                    <li>passThru:(true|false) the state should not wait for user input, but goes immediately to run the intent processor with an empty message </li>
                                    <li>delayBeforeIntentProcessor:(integer) delay running the intent processor in X milliseconds, after a message was received (or, if passThru==true, after the entry processor resolved)</li>
                                    <li>delayBeforeEntryProcessor:(integer) delay running the entry processor in X milliseconds after starting the state</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Dev tips-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                    Flow entry points</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                A flow starts in two ways. One, as chatFlows user initiates a converstation from the chatFlows system and
                                by selecting numbers to send to, and a flow definition (that is, an FSM)
                                Second, as a customer is sending an SMS to a certain bot. In either case, replies arrive to an endpoint exposed
                                by the system.
                                This means that the FSM should have a member originPath, which will be listened on .This originPath is used by the external service that is used as an interface for  the chat messenger (eg Microsoft BOT Framework). Please note, that we accept all requests under /entry path, and under port 3000. So, for example, the URL used in Microsoft flightStatus bot is http://www.chatflows.com:3000/entry/flightstatus1, and originPath is /flightstatus1.
                            </div>
                        </div>
                    </div>

                    <!--Dev tips-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Development</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Here are some general development tips, based on our bot development experience"
                                <ul>
                                    <li>The FSM entry processor is RE-RUN ON EVERY STATE ENTRY. This means, that you should ONLY set
                                        in-memory FUNCTION members inside it. You should put these functions on the process object for later
                                        use. Do NOT initialized variable as they would be overwritten when the processor is re-run.</li>
                                    <li>
                                        As there are two types of bots - push bots (initiated by chatFlows),
                                        and listening bots (initiated by users), remember that on <strong> listening bots</strong>, the initial state
                                        starts when the user initiates the conversation. This state should be written as if it already has been entered.
                                        In other words, its entry processor never run.
                                    </li>
                                    <li> Every state should have an helpPrompt member, which lists the text to
                                    be sent when no valid intent was able to be calculated </li>
                                    <li> In order to request a human agent, a processor should set the property <strong>chatRequired</strong>
                                        on a process. Every state could then have an intent, that leads to a state whose entry processor set this
                                    flag, and sends the user an appropriate message</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


</wrapper>
