<wrapper class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">chatFlow Library</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <fsm-display [fsmjson]="fsmjson"></fsm-display>
    </div>
    <div class="row">

        <tabset>
            <tab heading="ChatFlows" (select)="tabProcessActive=false">
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Chatflows:</label>
                            <select class="form-control" [ngModel]="selectedFsmId" (change)="onFsmIdSelected($event)">
                                <option *ngFor="#fsmId of fsmIds" value="{{fsmId}}"> {{fsmId}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" [disabled]="editMode || addNewMode" (click)="setEditMode(true)" class="fa fa-pencil-square-o col-xs-2 btn btn-primary btn-block " > Edit</button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" (click)="saveFsm()" [disabled]="!editMode && !addNewMode" class="fa fa-floppy-o col-xs-2 btn btn-success btn-block" > Save Changes</button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" [disabled]="!editMode && !addNewMode" (click)="cancelEdit()" class="fa-mail-reply fa col-xs-2 btn btn-warning btn-block" > Cancel</button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" [disabled]="editMode || addNewMode" (click)="deleteFSM()" class="fa-times fa col-xs-2 btn btn-error btn-block" > Delete</button>
                    </div>

                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        id: {{selectedFsmId}}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" *ngIf="addNewMode">
                                    <label>Unique ID</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedFsmId" />
                                </div>
                                <div class="form-group">
                                    <label>FSM</label>
                                    <pre *ngIf="!editMode && !addNewMode">
                                    <div style="width:400px;" id="jsonFSM"> </div>
                                    </pre>
                                    <textarea *ngIf="editMode||addNewMode" cols="120" rows="40"  (change)="fsmChanged()" [(ngModel)]="FSM"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>

            </tab>

            <tab heading="Processors" [active]="tabProcessActive">
                <processor [processId]="processId" (proess_selected)="processSelected($event)"></processor>
            </tab>

            <tab (select)="logsSelected()" heading="Logs" id="logsTab" >
                <ag-grid-ng2 #agGrid style="width: 100%; height: 400px;" class="ag-fresh" id="logGrid"

                     [gridOptions]="gridOptions"
                     [columnDefs]="gridColumnDefs"
                     [rowModelType]="rowModelType"

                     enableFilter="true"
                     enableRangeSelection="true"
                     enableColResize
                     enableSorting
                     groupHeaders
                     debug
                     rowHeight="27"
                     rowSelection="multiple"
                     (modelUpdated)="onModelUpdated()">
                </ag-grid-ng2>
                
                <!--
                <div class="row">
                    <i class="fa fa-refresh" (click)="logsSelected()"></i>
                    Page: {{logPageIndex + 1 }}
                    <button (click)="pageDown()" class="btn btn-primary"> - </button>
                    <button (click)="pageUp()" class="btn btn-primary"> + </button>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <td>Time</td>
                            <td>Type</td>
                            <td>Text</td>
                        </tr>
                        <tr *ngFor="#logrow of logrows">
                            <td>{{timestampToString(logrow.key)}}</td>
                            <td>{{logrow.value.logtype}}</td>
                            <td>{{stringify(logrow.value.text)}}</td>
                        </tr>
                    </table>
                </div>
                -->

            </tab>
        </tabset>
    </div>
</wrapper>
