body{
    font-family:Arial;
}
.container {
    width:800px;
    margin: 0px auto;
}
.container td input[type=text] {
    width:100%;
}
.template {
    display:none;
}
th {
    text-align:left;
}

form > div{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 0 4px;

}
form > div:nth-child(even) {
    background-color: lightgray;
}
form > div *{
    width: 18%;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
  
    direction: ltr;
}

input#addNew, input[type=submit]{
    width:50%;
    margin:10px 0;
    font-size:large;
}