body{
    font-family:Arial;
}
form table {
    width: 80%;
}
form table tr:nth-child(even) {
    background-color: lightgray;
}
form table td {
    text-align: center;
}
form table td input[type=text] {
    width: 100%;
    direction: ltr;
}


form > div{
    display: flex;
    width:100%;
    
    justify-content: space-between;
    padding:0px 0 4px;

}
form > div:nth-child(even) {
    background-color: lightgray;
}
form > div.title {
    margin-left:20px;
}
form > div input[type=text], form > div > div {
    width: 18%;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
  
    direction: ltr;
}

input#addNew, input[type=submit]{
    margin:10px 0;
    padding: 10px;
    font-size:large;
}
.previewBox {
    max-width: 300px;
    display:none;
}
.previewBox img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 300px;
}
.previewBox #title{
    font-weight:bold;
    font-size:larger;
}
previewBox #description{
    font-weight:normal;
    font-size:smaller;
}
