<div class="btmd">

    <div *ngIf="editable" class="btn-group">
        <button *ngIf="showEditButton && !editMode" (click)="edit()" class="btn btn-default">Edit</button>
        <button *ngIf="editMode" (click)="cancel()" class="btn btn-warning">Cancel</button>
        <button *ngIf="editMode" (click)="preview()" class="btn btn-default">Preview</button>
        <button *ngIf="editMode || unsavedChanges" (click)="save()" class="btn btn-default">Save</button>
        <button *ngIf="!editMode && unsavedChanges" (click)="edit()" class="btn btn-default">Back to editing</button>
    </div>
    <div class="alert alert-danger" *ngIf="unsavedChanges">
        <p>Warning, you have unsaved changes</p>
    </div>

    <!-- Not sure why but having the element ace-editor fails -->
    <!--<div *ng-if="editMode">-->

        <div ace-editor
             [editMode]="editMode"
             (change)="contentUpdate($event)"
             [markdown]="markdown" #mytesteditor></div>

    <!--</div>-->

    <!--<div [hidden]="editMode" inner-html="{{ rendered }}"></div>-->

</div>
